<!DOCTYPE html>
<html>
    <head>
        <title>testing</title>
        <link rel="stylesheet" href="/style/css/style.css" type="text/css">
        <header>Louis M.</header>
    </head>
    <body style="background-color:darkslategrey;">
        <nav id ="main-nav">
                <h1> ITEM </h1>
                <h1> ITEM </h1>
                <h1> ITEM </h1>
                <h1> ITEM </h1>
        </nav>
        <footer>
            <hr>
            <div id="contact-info">
                <h4> item </h4>
                <h4> item </h4>
                <h4> item </h4>
            </div>
        </footer>
    </body>
</html>